
<!DOCTYPE html>

<html>
<head>
<title>session lab</title>
</head>
<body>
<form action="/checkout" method="POST">
  Name of item: <input type="text" id="item" name="item">
  <input id="submit" type="submit" value="sumbit">
</form>
</body>
</html>